<html>
    <head>
        <meta charset="UTF-8">
        <title>Not terrible maths</title>

        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript"
              src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="/static/js/chat.js"></script>
    </head>
    <body>
        
        <!-- Input box -->
        <textarea id="inputfield" ></textarea>

        <!-- Messages -->

        <div id="messagecontainer">
            <div id="messagebox">
                <div class="message">
                    <strong>Messages</strong>
                </div>
            </div>
        </div>

        
    </body>
</html>
